a
{
    color: blue;
}
div
{
    border: 2px solid black;
    background-color: rgba(232, 228, 228, 0.897);
}
p
{
    margin-left: 8px;
}
a
{
    margin-left: 8px;
    margin-right: 1px;
}
.self
{
    margin-left: 0.2px;
}
.parent
{
    margin-left: 0.2px;
}
.body
{
    margin-left: 1px;
}